{
	"presets": ["module:metro-react-native-babel-preset"],
	"env": {
		"test": {},
		"storybook": {},
		"production": {
			"plugins": ["transform-remove-console"]
		}
	},
	"plugins": [
		"transform-inline-environment-variables",
		[
			"module-resolver",
			{
				"root": ["./src"],
				"alias": {
					"src": "./src",
					"helpers": "./src/helpers",
					"components": "./src/components",
					"screens": "./src/screens",
					"store": "./src/store",
					"theme": "./src/theme"
				}
			}
		]
	]
}
